#bodybackground{
    background-image: url('https://thumbs.dreamstime.com/b/smooth-wavy-blue-lines-form-abstract-waves-eps-237565307.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position :center;
    box-sizing: border-box;
    background-attachment: fixed;
}
#tcontent{
    border: 2px solid black;
    border-style: double;
    border-width: 2px;
    margin: 18px;
    padding-bottom: 5px;
    padding-top: 5px;  
}
#mbox{
    border : 2px solid black;
    border-radius: 15%;
    border-width: 8px;
    border-style: double;
    margin: 17px;
    padding: 17px;
    font-weight: 400;
    text-align: center;
    background-image: url('https://wallpapercave.com/wp/wp7999562.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background image fixed during scroll */ 
}
.ltopic{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#contain{
    border : 2px solid black;
    border-radius: 15%;
    border-width: 8px;
    border-style: double;
    margin: 17px;
    padding: 17px;
    font-weight: 400;
    text-align: center;
    background-image: url('https://cdn.vectorstock.com/i/500p/17/74/digital-red-background-vector-2681774.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position :center;
    box-sizing: border-box;
    margin: 42px;
    padding: 32px;
    background-attachment: fixed; /* Keeps the background image fixed during scroll */ 
}
.boxTopic{
    border: 2px solid black;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('https://th.bing.com/th/id/R.ee4f7a3730f8dd261ee829a698216648?rik=wMUk5kUeYK4vsQ&pid=ImgRaw&r=0');
    margin: 26px;
}
.bimg{
    width: 480px;
    height: 320px;
    border: 4px solid black;
}